body {
    font-family: 'Oxygen', serif;
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
    color: #222222;
}

div.main {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 720px;
    margin: 0px auto 0px auto;
}

a {
    color: #E30000;
}

h1.title a {
    color: #DDDDDD;
    font-size: 64px;
    font-family: 'Gochi Hand', serif;
    text-decoration: none;
    line-height: 64px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 28px;
}

div.copyright {
    font-size: 12px;
}

div.about {
    padding-right: 65px;
    border-right: 1px solid #DDDDDD;
    position: absolute;
    left: 30px;
    top: 50px;
    height: 100%;
    width: 220px;
    font-size: 12px;
    line-height: 15px;
}

div.twitter {
    float: left;
}

table.leiningen-downloads td {
    padding-right: 60px;
}