body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #555;
}

div.main {
    position: absolute;
    top: 25px;
    left: 350px;
    width: 580px;
    margin: 0px auto 0px auto;
}

blockquote {
    border-left: 3px solid #ccc;
    padding-left: 8px;
    color: #999;
}

a {
    color: rgb(179, 27, 27);
    text-decoration: none;
}

h1.title a {
    color: #ccc;
    font-size: 64px;
    font-family: 'Gochi Hand', serif;
    text-decoration: none;
    line-height: 64px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #444444;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #444444;
}

.date {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #666;
}

.emphasis {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #666;
}

.tags {
    line-height: 1.61em;
}

div.copyright {
    font-size: 12px;
}

div.about {
    padding-right: 65px;
    border-right: 1px solid #DDDDDD;
    position: absolute;
    left: 30px;
    top: 25px;
    height: 100%;
    width: 220px;
    font-size: 14px;
    line-height: 16px;
}

ul {
    list-style: square outside;
}

div.about ul {
    padding-left: 16px;
    color: #666;
    line-height: 18px;
}

div.twitter {
    float: left;
}

table.leiningen-downloads td {
    padding-right: 60px;
}

table.property-tax-definitions td {
    padding-right: 60px;
}