body {
    width: 800px;
    margin: 0px auto 0px auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #222222;
}

a {
    font-weight: bold;
    color: #750000;
}

h1.title {
    color: #999999;
    font-size: 64px;
    font-family: 'Gochi Hand', serif;
}

div.copyright {
    font-size: 12px;
}

/* div#navigation { */
/*     text-align: center; */
/*     border-bottom: 4px solid black; */
/* } */

/* div#navigation a { */
/*     color: white; */
/*     text-decoration: none; */
/*     background-color: black; */
/*     padding: 3px 10px 3px 10px; */
/*     margin: 0px 10px 0px 10px; */
/* } */
