<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="http://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="alternate"
          type="application/rss+xml"
          title="gphil's blog"
          href="/rss.xml" />
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lightbox-2.6.min.js"></script>
    <script src="/js/default.js"></script>
  </head>
  <body>
    <div class="about">
      <h1 class="title"><a href="/">gphil's blog</a></h1>
      <p>
        <a href="https://twitter.com/gphil"><img src="http://2.gravatar.com/avatar/7331f0106c51e802d9f533d366f8a348" alt="me"/></a>
      </p>
      <p>
        <a href="https://twitter.com/gphil" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @gphil</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </p>
      <p>
        <a href='https://alpha.app.net/gphil' class='adn-button' target='_blank' data-type='follow' data-width='277' data-height='27' data-user-id='@gphil' data-show-username='1' rel='me'>Follow me on App.net</a>
        <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
      </p>
      <p>
        Greg Phillips is a Philosophy major turned software developer and tech entrepreneur.
      </p>
      <p class="emphasis">Co-founder of <a href="http://kwelia.com">Kwelia</a></p>
      <ul class="emphasis">
        <li><a href="https://github.com/gphil">GitHub</a></li>
        <li><a href="https://www.linkedin.com/pub/gregory-phillips/3a/b42/a6a/">LinkedIn</a></li>
        <li><a href="mailto:gphil@gphil.net">Contact</a></li>
      </ul>
      <p class="emphasis"><a href="/posts.html">Read more posts&hellip;</a></p>
    </div>
    <div class="main">
      $body$
      <div class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />This text on this blog is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34480958-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
